<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">日志管理</h3>

				<div class="box-tools">
					<div class="input-group input-group-sm" style="width: 350px;">
						<input type="text" name="table_search" id="searchNameId"
							class="form-control pull-right" placeholder="用户名">

						<div class="input-group-btn">
							<button type="button" class="btn btn-default btn-search">
								<i class="fa fa-search"></i>
							</button>
							<button type="button" class="btn btn-default btn-delete">删除</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover">
					<thead>
						<tr>
							<th><input type="checkbox" id="checkAll">全选</th>
							<th>用户名</th>
							<th>操作</th>
							<th>请求方法</th>
							<th>请求参数</th>
							<th>IP地址</th>
							<th>执行时间</th>
						</tr>
					</thead>
					<tbody id="tbodyId">
						<tr>
							<td colspan="7">数据加载中...</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="pageId" class="box-footer clearfix"></div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
</div>
<script type="text/javascript">
$(function(){
	  /*在dopageUI制定位置访问dopageUI */
	  $("#pageId").load("doPageUI",function(){
		  doGetObjects();
	  })
	  //获取服务器端数据
	 
	  
	  $(".input-group-btn")
	  .on("click",".btn-search",doQueryObjects)
	  .on("click",".btn-delete",doDeleteObjects)
	  $("#checkAll").click(doChangeTBodyCheckBoxState)
	  $("#tbodyId").on("change",".cBox",doChangeTHeadCheckBoxState)
})	
 //当tbody中checkbox的状态发生变化以后
   //修改thead中全选元素的状态值。
   function doChangeTHeadCheckBoxState(){
	  //1.设定默认状态值
	  var flag=true;
	  //2.迭代所有tbody中的checkbox值并进行与操作
	  $("#tbodyId input[name='cItem']")
	  .each(function(){
		  flag=flag&&$(this).prop("checked")
	  });
	  //3.修改全选元素checkbox的值为flag
	  $("#checkAll").prop("checked",flag);
   }
function doChangeTBodyCheckBoxState(){
	var flag=$(this).prop("checked");//true or false
	   //2.将tbody中所有checkbox元素的值都修改为flag对应的值。
	   //第一种方案
	   /* $("#tbodyId input[name='cItem']")
	   .each(function(){
		   $(this).prop("checked",flag);
	   }); */
	   //第二种方案
	   $("#tbodyId input[type='checkbox']")
	   .prop("checked",flag); 
}
/*执行删除操作*/
   function doDeleteObjects(){
	   //1.获取选中的id值
	   var ids=doGetCheckedIds();
	   if(ids.length==0){
		  alert("至少选择一个");
		  return;
	   }
	   //2.发异步请求执行删除操作
	if(!confirm("确定删除吗")) return ; 
	   var url="log/dodeleteObjects";
	   var params={"ids":ids.toString()};
	   console.log(params);
	   $.post(url,params,function(result){
		   if(result.state==1){
			 alert(result.message);
			 doGetObjects();
		   }else{
			 alert(result.message);
		   }
	   });
   }
function doGetCheckedIds(){
	   //定义一个数组,用于存储选中的checkbox的id值
	   var array=[];//new Array();
	   //获取tbody中所有类型为checkbox的input元素
	   $("#tbodyId input[type=checkbox]").
	   //迭代这些元素，每发现一个元素都会执行如下回调函数
	   each(function(){
		   //假如此元素的checked属性的值为true
		   if($(this).prop("checked")){
			   //调用数组对象的push方法将选中对象的值存储到数组
			   array.push($(this).val());
		   }
	   });
	   return array;
}
function doQueryObjects(){
	
	 $("#pageId").data("pageCurrent",1);

	 doGetObjects();
 }

function doGetObjects(){
	debugger
	//1.request url
	var url="log/doFindPageObjects";
	//2.request Params
	//获取pageCurrent绑定的值
	var pageCurrent =$("#pageId").data("pageCurrent");
	//假如pagCurrent没有值,赋值为1
	if(!pageCurrent)pageCurrent=1;
	var params={"pageCurrent":pageCurrent}
	var uname=$("#searchNameId").val();
	 if(uname){
		 params.username=uname;
	 }
	//3.发送异步请求获取服务器端数据send async request
	$.getJSON(url,params,function(result){
		//console.log(result);
		//console.log(result.data.records)
		doHandleResponseResult(result);
	})
}
function doHandleResponseResult(result){
	debugger
	//判定响应状态
	if(result.state==1){//区别"=","==="
		//1.呈现记录信息
		doSetTableBodyRows(result.data.records)
		//2.呈现分页信息
		doSetPagination(result.data)
	}else{
		//呈现错误信息
		alert(result.message)
	}
}
//将记录呈现在table内部的tbody中
function doSetTableBodyRows(records){
	debugger
	//1.获取tbody对象,
	var tBody=$("#tbodyId");
	tBody.empty();
	
	for(var i=0;i<records.length;i++){
		//1.创建一个tr对象
		var tr=$("<tr></tr>");
		var tds=doCreateTds(records[i]);
		tr.append(tds);
		tBody.append(tr);
	}
	
}
function doCreateTds(data){
	debugger
	   var tds="<td><input type='checkbox' class='cBox' name='cItem' value='"+data.id+"'></td>"+
		   	 "<td>"+data.username+"</td>"+
		     "<td>"+data.operation+"</td>"+
		     "<td>"+data.method+"</td>"+
		     "<td>"+data.params+"</td>"+
		     "<td>"+data.ip+"</td>"+
		     "<td>"+data.time+"</td>";	   
return tds;
}
</script>















